@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');

.date {
    color: var(--text-secondary);
    margin-top: 10px;
}

.commit {
    border: 1px solid var(--border);
    border-radius: 4px;
    color: var(--text);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
    font-size: 14px;
    transition: all 50ms ease-in-out;
}

.commit:hover {
    background-color: var(--nav);
}

.commit a {
    color: var(--text);
    text-decoration: none;
    padding: 5px 10px;
    background-color: var(--nav);
    border-radius: 4px;
    border: 1px solid var(--border);
    margin: 0 5px;
    display: inline-block;
    transition: all 50ms ease-in-out;
}

.commit a:hover {
    background-color: var(--btn-hover-secondary);
}

.commit .tree-btn svg {
    display: inline-block;
    vertical-align: middle;
    align-self: middle;
}

.commit .tree-btn path {
    fill: var(--text);
    transition: all 50ms ease-in-out;
}

.commit .tree-btn:hover path {
    fill: var(--bg-hover);
}

.commit .diff-btn {
    color: var(--bg-hover);
    font-family: Roboto, monospace;
    width: 50px;
}

.page-nav {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page-nav a {
    display: inline-block;
    padding: 5px 10px;
    border: 1px solid var(--border);
    border-radius: 4px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    color: var(--bg-hover);
    font-size: 14px;
    background-color: var(--nav);
    transition: all 50ms ease-in-out;
}

.page-nav a:hover {
    background-color: var(--btn-hover-secondary);
}

.page-nav a:first-child {
    /* border-right: none; */
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.page-nav a:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-nav .disable {
    pointer-events: none;
    opacity: .5;
    background-color: transparent;
}
