main {
    background-color: var(--bg);
}

.my-repos {
    max-width: 1100px;
    padding: 0 20px;
    margin: auto;
    margin-top: 20px;
}

.my-repos div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--border);
}

.my-repos h3 {
    color: white;
}

.my-repos ul {
    list-style: none;
}

.new {
    color: white;
    text-decoration: none;
    transition: all 100ms ease-in-out;
    background-color: var(--btn-bg);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 400;
    display: inline-block;
}

.new:hover {
    background-color: var(--btn-bg-hover);
}

.repo {
    border-bottom: 1px solid var(--border);
    padding: 20px 0;
}

.repo a {
    color: var(--bg-hover);
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}

.repo a:hover {
    text-decoration: underline;
}

.repo span {
    display: inline-block;
    border: 1px solid var(--border);
    border-radius: 20px;
    color: var(--border);
    font-size: 10px;
    font-weight: 600;
    padding: 2px 4px;
    vertical-align: top;
}
