h3 {
    color: white;
}

.repo-nav {
    border-bottom: 1px solid gray;
} 

main {
    max-width: 900px;
    padding: 0 20px;
    margin: auto;
}

.repo {
    border-bottom: 1px solid gray;
    padding: 10px;
}

.repo a {
    color: var(--bg-hover);
    text-decoration: none;
    font-weight: 600;
    font-size: 14pt;
}

.repo a:hover {
    text-decoration: underline;
}


.code li {
    white-space: pre;
    list-style: none;
    height: 19px;
    color: white;
}

code {
    display: none;
}

.repo-tree {
    width: 100%;
    border: 1px solid gray;
    border-radius: 4px;
    border-spacing: 0;
    table-layout: auto;
}

.repo-tree tr:hover {
    background-color: var(--nav);
}

.repo-tree td, .repo-tree th {
    padding: 16px 10px;
    color: var(--text-secondary);
    border-bottom: 1px solid gray;
    font-size: 14px;
}

.repo-tree th {
    padding: 20px 10px;
    background-color: var(--nav);
}

.repo-tree td a, .repo-tree th a {
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: 400;
}

.repo-tree th a span {
    color: var(--text);
}

.repo-tree svg {
    display: inline-block;
    vertical-align: bottom;
} 

.repo-tree th a:hover, .repo-tree th a:hover span {
    color: var(--bg-hover);
} 

.repo-tree th a:hover path {
    fill: var(--bg-hover);
}

.repo-tree th a path {
    fill: var(--text);
}

.repo-tree tr:last-child td {
    border: none;
}

.repo-tree td:nth-child(2) a {
    color: var(--text);
}

.repo-tree td a:hover {
    color: var(--bg-hover); 
    text-decoration: underline;
    transition: all 50ms ease-in-out;
}

.repo-tree td:first-child {
    padding-right: 0;
    width: 16px;
}

.repo-tree td path {
    fill: var(--text-secondary);
}

.repo-tree td:last-child, .repo-tree th:last-child {
    text-align: right;
}

.repo-tree .commit-msg {
    max-width: 100%; 
}

.repo-info {
    padding: 20px 25px;
}

.repo-info path {
    fill: var(--text-secondary);
}

.repo-info h2 {
    color: var(--text-secondary);
    font-size: 20px;
    font-weight: 400;
    display: inline;
}

.repo-owner, .repo-name {
    color: var(--bg-hover);
    text-decoration: none;
}

.repo-owner:hover, .repo-name:hover {
    text-decoration: underline;
}

.repo-name {
    font-weight: 600;
}

.repo-tree-top {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 5px;
}

.repo-tree-top a {
    display: inline-block;
    color: var(--text);
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
}

.repo-tree-top .upload {
    background-color: var(--nav);
    outline: 1px solid gray;
    outline-offset: -1px;
    transition: all 50ms ease-in-out;
}

.repo-tree-top .upload:hover {
    background-color: var(--btn-hover-secondary);
}

.repo-tree-top .download {
    background-color: var(--btn-bg);
    margin-right: 0;
    transition: all 50ms ease-in-out;
}

.repo-tree-top .download:hover {
    background-color: var(--btn-bg-hover);
    color: #fff;
}

.repo-tree-top .download path {
    fill: var(--text);
}

.repo-tree-top .download svg {
    display: inline-block;
    vertical-align: middle;
} 

.repo-nav .nav-btns {
    padding-left: 25px;
}

.repo-nav .nav-btns a {
    display: inline-block;
    color: var(--text);
    font-size: 14px;
    margin-bottom: 1px;
    text-decoration: none;
}

.repo-nav .nav-btns .active {
    border-bottom: 3px solid rgb(247, 129, 102);
    margin-bottom: -1px;
}

.repo-nav .nav-btns svg {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.repo-nav .nav-btns path {
    fill: var(--text-secondary);
}

.repo-nav .nav-btns span {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0;
}

.repo-nav .nav-btns a:hover span {
    border-radius: 4px;
    background-color: var(--btn-hover-secondary);
}
