@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@0;1&display=swap');

h3 {
    color: white;
}

.repo-nav {
    border-bottom: 1px solid var(--border);
} 

main {
    max-width: 900px;
    padding: 0 20px;
    margin: auto;
}

.repo {
    border-bottom: 1px solid var(--border);
    padding: 10px;
}

.repo a {
    color: var(--bg-hover);
    text-decoration: none;
    font-weight: 600;
    font-size: 14pt;
}

.repo a:hover {
    text-decoration: underline;
}


.code li {
    white-space: pre;
    list-style: none;
    height: 19px;
    color: white;
}

code {
    display: none;
}

.repo-tree {
    width: 100%;
    border: 1px solid var(--border);
    border-radius: var(--radius);
    border-spacing: 0;
    table-layout: auto;
}

.repo-tree tr:hover {
    background-color: var(--nav);
}

.repo-tree td, .repo-tree th {
    padding: 16px 10px;
    color: var(--text-secondary);
    border-bottom: 1px solid var(--border);
    font-size: 14px;
}

.repo-tree th {
    padding: 20px 10px;
    background-color: var(--nav);
}

.repo-tree td a, .repo-tree th a {
    color: var(--text-secondary);
    text-decoration: none;
    font-weight: 400;
}

.repo-tree th a span {
    color: var(--text);
}

.repo-tree svg {
    display: inline-block;
    vertical-align: bottom;
} 

.repo-tree th a:hover, .repo-tree th a:hover span {
    color: var(--bg-hover);
} 

.repo-tree th a:hover path {
    fill: var(--bg-hover);
}

.repo-tree th a path {
    fill: var(--text);
}

.repo-tree tr:last-child td {
    border: none;
}

.repo-tree td:nth-child(2) a {
    color: var(--text);
}

.repo-tree td a:hover {
    color: var(--bg-hover); 
    text-decoration: underline;
    transition: all 50ms ease-in-out;
}

.repo-tree td:first-child {
    padding-right: 0;
    padding-left: 16px;
    width: 16px;
}

.repo-tree td path {
    fill: var(--text-secondary);
}

.repo-tree td:last-child, .repo-tree th:last-child {
    text-align: right;
}

.repo-tree .commit-msg {
    max-width: 100%; 
}

.repo-tree .commit-msg a {
    max-width: 300px;
    vertical-align: bottom;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.repo-tree .file-name a {
    max-width: 200px;
    vertical-align: bottom;
    display: inline-block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.repo-tree .picture-head {
    padding-right: 0;
}

.repo-tree .picture-wrap {
    height: 24px;
    width: 24px;
    border-radius: 50%;
    background-color: var(--bg);
    padding-right: 0;
}

.repo-tree .picture-wrap img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
}

.repo-tree .commit-head-msg {
    text-align: left;
    color: var(--text);
}

.repo-tree .commit-head-msg .author-name {
    color: var(--text);
    font-weight: 600;
}

.repo-tree .commit-head-msg .author-name:hover {
    text-decoration: underline;
} 

.repo-tree .commit-head-msg .msg {
    font-weight: 400;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
    display: inline-block;
    vertical-align: bottom;
    color: var(--text);
}

.repo-tree .commit-head-msg .msg:hover {
    color: var(--bg-hover);
    text-decoration: underline;
} 

.commits-head .hash, .commits-head .date {
    color: var(--text-secondary);
    font-weight: 400;
}

.commits-head .date {
    margin-right: 10px;
}

.commits-head .hash {
    font-family: 'Roboto Mono', monospace;
}

.commits-head .date:hover {
    text-decoration: underline;
}

.commits-head .hash:hover {
    text-decoration: underline;
}

.repo-tree .name-head, .repo-tree .msg-head, .repo-tree .date-head {
    font-size: 14px;
    font-weight: 400;
}

.repo-tree .name-head, .repo-tree .msg-head {
    text-align: left;
}

.repo-info {
    padding: 20px 25px;
}

.repo-info path {
    fill: var(--text-secondary);
}

.repo-info h2 {
    color: var(--text-secondary);
    font-size: 20px;
    font-weight: 400;
    display: inline;
}

.repo-owner, .repo-name {
    color: var(--bg-hover);
    text-decoration: none;
}

.repo-owner:hover, .repo-name:hover {
    text-decoration: underline;
}

.repo-name {
    font-weight: 600;
}

.repo-tree-top {
    text-align: right;
    padding-top: 20px;
    padding-bottom: 5px;
}

.repo-tree-top a, .repo-tree-top span {
    display: inline-block;
    color: var(--text);
    text-decoration: none;
    font-size: 14px;
    padding: 10px;
    margin: 5px;
    border-radius: var(--radius);
}

.repo-tree-top .upload {
    background-color: var(--nav);
    outline: 1px solid var(--border);
    outline-offset: -1px;
    transition: all 50ms ease-in-out;
    margin-right: 0;
}

.repo-tree-top .upload:hover {
    background-color: var(--btn-hover-secondary);
}

.repo-tree-top .delete {
    background-color: var(--nav);
    outline: 1px solid var(--red);
    outline-offset: -1px;
    transition: all 50ms ease-in-out;
    margin-right: 0;
    color: var(--red);
}

.repo-tree-top .delete:hover {
    background-color: var(--red);
    color: var(--text);
}

.repo-tree-top .download {
    background-color: var(--btn-bg);
    margin-right: 0;
    transition: all 50ms ease-in-out;
}

.repo-tree-top .download:hover {
    background-color: var(--btn-bg-hover);
    color: #fff;
}

.repo-tree-top .download path {
    fill: var(--text);
}

.repo-tree-top .download svg {
    display: inline-block;
    vertical-align: middle;
} 

.repo-nav .nav-btns {
    padding-left: 25px;
}

.repo-nav .nav-btns a {
    display: inline-block;
    color: var(--text);
    font-size: 14px;
    margin-bottom: 1px;
    text-decoration: none;
}

.repo-nav .nav-btns .active {
    border-bottom: 3px solid rgb(247, 129, 102);
    margin-bottom: -1px;
}

.repo-nav .nav-btns svg {
    display: inline-block;
    vertical-align: top;
    margin-right: 5px;
}

.repo-nav .nav-btns path {
    fill: var(--text-secondary);
}

.repo-nav .nav-btns .nav-btn-name {
    display: inline-block;
    padding: 5px 10px;
    margin: 5px 0;
}

.repo-nav .nav-btns a:hover .nav-btn-name {
    border-radius: var(--radius);
    background-color: var(--btn-hover-secondary);
}

.new-repo-wrap .repo-name {
    color: var(--text);
    text-decoration: none;
    margin-top: 20px;
    border-bottom: 1px solid var(--border);
    padding-bottom: 10px;
}

.new-repo div {
    border-bottom: 1px solid var(--border);
    padding: 10px 0;
}

.new-repo .new-repo-name label {
    display: block;
    color: var(--text);
    margin-bottom: 5px;
    font-size: 14px;
}

.new-repo .new-repo-name input {
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: var(--radius);
    padding: 5px;
    color: var(--text);
}

.new-repo .new-repo-name input:focus {
    outline: 2px solid var(--bg-hover);
}

.new-repo .new-repo-vis label {
    display: block;
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    color: var(--text);
    font-size: 14px;
}

.new-repo .new-repo-vis label:first-child {
    margin-bottom: 10px;
}

.new-repo .new-repo-vis svg {
    display: inline-block;
    vertical-align: middle;
}

.new-repo .new-repo-vis path {
    fill: var(--text);
}

.new-repo .new-repo-vis input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid var(--border);
    margin: -1px;
}

.new-repo .new-repo-vis input:checked ~ .checkmark {
    background-color: var(--bg-hover);
    border: none;
    margin: 0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.new-repo .new-repo-vis input:checked ~ .checkmark:after {
    display: block;
}

.new-repo .new-repo-vis .checkmark:after {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: var(--bg);
}

.new-repo button {
    float: right;
    margin-top: 10px;
    padding: 5px;
    color: var(--text);
    background-color: var(--btn-bg);
    border: none;
    border-radius: var(--radius);
    cursor: pointer;
    transition: all 50ms ease-in-out;
}

.new-repo button:hover {
    background-color: var(--btn-bg-hover);
}

.modal.remove-confirm .close-btn {
    margin-left: 5px;
}

.modal.remove-confirm *:focus {
    outline: none;
}

.modal.remove-confirm .modal-head {
    padding: 10px;
}

.modal.remove-confirm .modal-head span {
    padding: 0;
}

.modal.remove-confirm .delete-dir {
    display: block;
    border: 1px solid var(--red);
    border-radius: var(--radius);
    color: var(--red);
    text-align: center;
    background-color: var(--nav);
    margin: 10px;
    padding: 5px;
    text-decoration: none;
    transition: all 50ms ease-in-out;
}

.modal.remove-confirm .delete-dir:hover {
    background-color: var(--red);
    color: var(--text);
}

.modal.remove-confirm .cancel {
    display: block;
    text-align: center;
    border: 1px solid var(--border);
    margin: 10px;
    color: var(--text);
}

.issue-count {
    background-color: var(--nav);
    padding: 2px 5px;
    border-radius: var(--radius);
}
